@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 265 100% 95%;
    --foreground: 265 5% 10%;
    --card: 265 50% 90%;
    --card-foreground: 265 5% 15%;
    --popover: 265 100% 95%;
    --popover-foreground: 265 100% 10%;
    --primary: 265 72.2% 56.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 265 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 227 30% 85%;
    --muted-foreground: 265 5% 40%;
    --accent: 227 30% 80%;
    --accent-foreground: 265 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 265 5% 90%;
    --border: 265 30% 52%;
    --input: 265 30% 50%;
    --ring: 265 72.2% 56.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
}

.dark {
    --background: 265 50% 10%;
    --foreground: 265 5% 90%;
    --card: 265 50% 10%;
    --card-foreground: 265 5% 90%;
    --popover: 265 50% 5%;
    --popover-foreground: 265 5% 90%;
    --primary: 265 72.2% 56.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 265 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 227 30% 25%;
    --muted-foreground: 265 5% 60%;
    --accent: 227 30% 25%;
    --accent-foreground: 265 5% 90%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 265 5% 90%;
    --border: 265 30% 50%;
    --input: 265 30% 50%;
    --ring: 265 72.2% 56.3%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}